$primary: #3a3b3a;

$secondary: #000;
$clicked: #ff4500;
$nav-btn: #ffffff;
$background: #fafafa;

.section-home {
  height: 100vh;
  top: 0;
}

.section-projects {
  height: 100vh;
  scroll-behavior: smooth;
}

.section-contact {
  height: 100vh;
}

.home-background {
  height: 100vh;
  background-color: $background;
}
.welcome-text-box {
  width: 40vw;
  display: block;
  top: 33vh;
  left: 10vw;
  position: absolute;
  font-size: 2vw;
  font-family: "Source Code Pro", monospace;
  color: $primary;
}
.welcome-text-box_1 {
  width: 40vw;
  display: block;
  top: 45vh;
  position: absolute;
  text-align: left;
  font-size: 2vw;

  left: 10vw;
  color: $primary;

  font-family: "Source Code Pro", monospace;
}
@media (max-width: 688px) {
  .welcome-text-box {
    width: 90vw;
    display: block;
    top: 13vh;
    left: 5vw;

    position: absolute;
    font-size: 5vh;
    font-family: "Source Code Pro", monospace;
    color: $primary;
    text-align: center;
  }
  .welcome-text-box_1 {
    width: 90vw;

    display: block;
    top: 25vh;
    position: absolute;
    text-align: center;
    font-size: 5vh;

    left: 5vw;
    color: $primary;

    font-family: "Source Code Pro", monospace;
  }
}
