$primary: #3a3b3a;

$secondary: #00d563;

$clicked: #ff4500;
$nav-btn: #ffffff;
$background: #fafafa;
$background-nav: #fafafa50;

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $background;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-size: 1.55vw;
  color: $primary;
  margin-top: 2.5vh;
  text-align: left;
  margin-left: 10vw;
  font-family: "Lato", sans-serif;
}
.nav-link {
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
  display: inline;
  padding: 4%;
  text-decoration: none;
  position: relative;
  font-size: 1vw;
  font-weight: 800;
  background: linear-gradient(
    to right,
    $secondary,
    $secondary 50%,
    $primary 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease;

  &:hover {
    // background-position: 0 100%;
    background-position: 0% 100%;
  }
}
.active {
  background-position: 0% 100%;
}
.btn-container {
  margin-top: 3vh;
}
.nav-link a:active {
  background-color: red;
}
.nav-link a {
  text-decoration: none;
  color: $primary;
  position: relative;
  font-size: 1vw;
  font-weight: 800;
  background: linear-gradient(
    to right,
    $secondary,
    $secondary 50%,
    $primary 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease;
  text-decoration: none;

  &:hover {
    background-position: 0 100%;
  }
}

.nav-buttons {
  text-align: center;
}

//na chwile

.content {
  background-color: $clicked;
  height: 85vh;
}
@media (max-width: 688px) {
  .nav-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100vw;
    height: 8vh !important;
    background-color: #f0f0f0;
    z-index: 2;
    font-family: "Lato", sans-serif;
    height: auto;
  }
  .logo {
    display: none;
  }
  .nav-link {
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    display: inline;
    text-decoration: none;
    top: -50%;
    padding: 6%;
    position: relative;
    font-size: 5vw;
    font-weight: 800;
    background: linear-gradient(
      to right,
      $secondary,
      $secondary 50%,
      $primary 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease;

    &:hover {
      // background-position: 0 100%;
      background-position: 0% 100%;
    }
  }

  .btn-container {
    height: 5vh;
    padding: 2%;
  }
  .nav-link svg {
    width: 20vw;
    font-size: 8vw;
  }
}
