@import "./styles/nav.scss";
@import "./styles/home.scss";
@import "./styles/home_button.scss";
@import "./styles/projects.scss";
@import "./styles/contact.scss";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap");
@import url("https://fontlibrary.org/face/archicoco");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("//db.onlinewebfonts.com/c/e55e9079ee863276569c8a68d776ef04?family=Futura+Md+BT");

body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
